{% load static %}

<div class="col-xl-6 col-xxl-6">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h4 class="fs-20 font-w600">Assigned Healthcare Worker</h4>
        </div>
        <div class="card-body">
            <div class="media d-sm-flex text-sm-start d-block text-center">
                <img alt="image" class="rounded me-sm-4 me-0 mb-2 mb-sm-0" width="130"
                    src="{% static 'images/f_profile_pic_10.png' %}">
                <div class="media-body">
                    <h3 class="fs-22 text-black font-w600 mb-0">Dr. Samantha</h3>
                    <p class="text-primary">Physical Therapy</p>
                    <div
                        class="social-media mb-sm-0 mb-3 justify-content-sm-start justify-content-center">
                        <a href="javascript:void(0);"><i class="lab la-instagram ms-0"></i></a>
                        <a href="javascript:void(0);"><i class="lab la-facebook-f"></i></a>
                        <a href="javascript:void(0);"><i class="lab la-twitter"></i></a>
                    </div>
                </div>
                <div class="text-center">
                    <span class="num">4.0</span>
                    <div class="star-icons">
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                        <i class="las la-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>