{% load static %}

<div class="d-md-flex d-block mb-3 align-items-center">
				<div class="widget-timeline-icon py-3 py-md-2 px-1 overflow-auto">
					<ul class="timeline">
						<li>
							<div class="icon bg-warning"></div>
							<a class="timeline-panel text-muted" href="javascript:void(0);">
								<h4 class="mb-2 mt-0 text-warning fs-16 font-w600">Pending</h4>
								<p class="fs-14 mb-0 ">21/08/2020, 12:45 AM</p>
							</a>
						</li>
						<li class="border-info">
							<div class="icon bg-info"></div>
							<a class="timeline-panel text-muted" href="javascript:void(0);">
								<h4 class="mb-2 mt-0 text-info fs-16 font-w600">On Recovery</h4>
								<p class="fs-14 mb-0 ">22/09/2020, 12:45 PM</p>
							</a>
						</li>
						<li>
							<div class="icon bg-primary"></div>
							<a class="timeline-panel text-muted" href="javascript:void(0);">
								<h4 class="mb-2 text-primary mt-0 fs-16 font-w600">Recovered</h4>
								<p class="fs-14 mb-0 ">25/09/2020, 10:45 AM</p>
							</a>
						</li>
					</ul>
				</div>
				<select class="default-select ms-auto me-1 image-select style-2">
					<option>Condition</option>
					<option>Stable</option>
					<option>Unstable</option>
					<option>Watchlist</option>
				</select>
				<a href="javascript:void(0);" class="btn btn-primary btn-rounded wspace-no ms-2"><i
						class="las scale5 la-pencil-alt me-2"></i> Edit</a>
			</div>