{% load static %}

<div class="col-xl-3 col-xxl-12 col-md-6">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h4 class="fs-20 font-w600">Patient Statistic</h4>
        </div>
        <div class="card-body text-center">
            <span class="donut"
                data-peity='{ "fill": ["rgb(209, 209, 209)", "rgba(180, 92, 195, 1)","rgba(255, 214, 0, 1)"]}'>2,5,3</span>
            <div class="mt-4">
                <p class="mb-2 d-flex text-dark font-w500  fs-14">Immunities (60%)
                    <span class="pull-right ms-auto">25</span>
                </p>
                <div class="progress mb-3" style="height:8px">
                    <div class="progress-bar bg-secondary progress-animated"
                        style="width:85%; height:8px;" role="progressbar">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <p class="mb-2 d-flex text-dark font-w500  fs-14">Heart Beat (30%)
                    <span class="pull-right ms-auto">12</span>
                </p>
                <div class="progress mb-3" style="height:8px">
                    <div class="progress-bar bg-warning progress-animated"
                        style="width:90%; height:8px;" role="progressbar">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <p class="mb-2 d-flex  text-dark font-w500 fs-14">Weigth (10%)
                    <span class="pull-right ms-auto">15</span>
                </p>
                <div class="progress" style="height:8px">
                    <div class="progress-bar bg-light progress-animated" style="width:65%; height:8px;"
                        role="progressbar">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>