{% load static %}

<script src="{% static 'healthcare_worker_profile/javascript/global.min.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/bootstrap-select.min.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/custom.min.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/deznav-init.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/demo.js' %}"></script>
<script src="{% static 'healthcare_worker_profile/javascript/styleSwitcher.js' %}"></script>