{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'healthcare_workers_signup/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'healthcare_workers_signup/css/jquery.classycountdown.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'healthcare_workers_signup/css/nice-select.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'healthcare_workers_signup/css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'healthcare_workers_signup/css/style.css' %}">